{% extends 'base.html' %}
  
{% block title %}Login{% endblock %}
  
{% block content %}
<div class=" bgsection">
  <div class="container sliderdesign">
    <div class="row  align-items-center ">
      <div class="col-lg-5" >
          <h1>Welcome to Bookmyshow dashboard</h1>
          <p class="page-header-ui-text mb-5">BookMyShow offers showtimes, movie tickets, reviews, trailers, concert tickets and events near city . Also features promotional offers, coupons and mobile ...
          </p>
          <div class="d-flex flex-column flex-sm-row">
              <a class="btn btn-lg btn-primary fw-500 me-sm-3 mb-3 mb-sm-0 shadow rounded" href="https://github.com/akashbadole"  target="_blank"> 
                 Know More 
                
              </a>
              <a class="btn btn-lg btn-primary-soft text-primary fw-500 shadow rounded " href="/signin" > login</a>
          </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block" > 
        <img src="/static/img/home.jpg" width="600px" height="auto" class="imageSize">
      </div>
  </div>
  </div>
</div>


    <div class=" py-5 bg-light">
      <div class="container">
        <h1 class="py-4">Movies - Latest</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="shadow rounded" src="/static/img/spider-mannowayhome.jpg"> 
  
              <div class="card-body">
                <p class="card-text">Spider-Man: No Way Home is a 2021 American superhero film based on the Marvel Comics character Spider-Man, co-produced by Columbia Pictures...</p>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="shadow rounded" src="/static/img/thorloveandthunder.jpg"> 
  
              <div class="card-body">
                <p class="card-text">Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and distributed by ...</p>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="shadow rounded" src="/static/img/doctorstrangeinthemultiverseofmadness.jpg"> 
              <div class="card-body">
                <p class="card-text">TDoctor Strange in the Multiverse of Madness is a 2022 American superhero film based on Marvel Comics featuring the character Doctor Strange.</p>
                
              </div>
            </div>
          </div>
  

        </div>
      </div>
    </div>

    <div class="bgsection">
    <div class="container py-5 ">
      <h1 class="">Event - Latest</h1>
      <div class="row align-items-md-stretch py-4">
        <div class="col-md-3">
          <div class="h-100 p-5 rounded-3 bg-info bg-gradient" style="--bs-bg-opacity: .3;background:blue;">
            <h2>Event 1</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <button class="btn btn-outline-secondary" type="button">Know More</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 p-5 rounded-3 bg-info bg-gradient" style="--bs-bg-opacity: .3;background:blue;">
            <h2>Event 2</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <button class="btn btn-outline-secondary" type="button">Know More</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 p-5 rounded-3 bg-info bg-gradient" style="--bs-bg-opacity: .3;background:blue;">
            <h2>Event 3</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <button class="btn btn-outline-secondary" type="button">Know More</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 p-5 rounded-3 bg-info bg-gradient" style="--bs-bg-opacity: .3;background:blue;">
            <h2>Event 3</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <button class="btn btn-outline-secondary" type="button">Know More</button>
          </div>
        </div>
      </div>
    </div>
  </div>



      <section class="container py-4">
      
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <section class="container py-4">
                    <h4 class="my-4">Faqs</h4>
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                    </div>
              </section>
              
            </div>

            <div class="col-xs-4 col-sm-4">
              <div class="container py-4">
              {% if user.is_authenticated %}
              Hi {{ user.username }}!
              <a href="/signout" class="btn btn-danger">Logout</a>
              {% endif %}
            </div>
          </div>
        </div>
    </section>

<section>

</section>

{% endblock %}